.monitor .loadingIndicator_bk {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999999;
	background-color: #fff;
	opacity: .3;
    filter: alpha(opacity = 30);
	display: none
}

.monitor .loadingIndicator_tip {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000000;
	display: none;
	text-align: center;
	vertical-align: middle
}

.monitor .loadingIndicator_tip>.msg_border {
	background: url(../../img/monitorLoading/loading.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 36px;
	height: 36px;
	font-size: 36px
}

.monitor .loadingIndicator_tip>.msg_border>.msg {
	font-size: 15px;
	color: #333
}