.form-page{
  margin:0 2%;width:96%
}
.grid-content:first-child .dialogTitle{
  margin-top: 0;
}
.grid-wrap{
  display: flex;margin-bottom: 15px;
}
.tip{
  background: #F0F8FB;
  color: #7e7c7dfa;
  text-align: left;
  padding: 5px 10px 5px 35px;
  position: relative;
  top: -10px;
  margin-bottom: 5px;
}
.tip::before{
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../assets/icon/introduce.png") no-repeat;
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.feature-wrap{
  display: inline-block;
  margin-right:8%;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: top;
  .tag{
    background: #E5F2FA;
    color: #0084CF;
    border-radius: 20px;
    padding: 8px 0;
    margin: 10px 5px;
  }
  .tip-success{
    color:#00B992;
  }
  .tip-warn{
    color:#F78056;
  }
}
.feature-wrap>span{
  display: block;
}
.form-group{
  border-top:1px solid #e2e1e6;
  border-bottom:1px solid #e2e1e6;
  padding-top: 22px;
  padding-bottom:20px;
  margin-bottom:10px;
}
.form-group.indent{
  padding-left: 5%;
  text-align: left
}
.form-group>.el-col{
  text-align: left;
}
.el-form-item{
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.avatar{
  width: 109px;
  max-height: 134px;
  flex-shrink: 0;
}
.gray-wrap{
  background: #F6F6F6;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.btns-container {
  margin:40px 0;
}